<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css?=3' />
    <script src="/javascripts/jquery-3.6.0.min.js"></script>
    <script src="/javascripts/index.js?=3"></script>
  </head>
  <body id="Content">
    <div class="left">
    <div class="article">
      <h1>About us</h1>
      <p>The best ideas can change who we are. Medium is where those ideas take shape, take off, and spark powerful conversations. We’re an open platform where 170 million readers come to find insightful and dynamic thinking. Here, expert and undiscovered voices alike dive into the heart of any topic and bring new ideas to the surface. Our purpose is to spread these ideas and deepen understanding of the world.</p>
      <br/>
      <p>Bambach的传记的方法，让我回想起潘诺夫斯基曾经所欣赏的19世纪的学者所撰写的艺术家的传记，比如Cavalcaselle 1877 年出版的Titian: his life and times with some account of his family，潘氏认为这不是用来查资料的，而是要通读的。Bambach自然不是这种19世纪的精神，而是在现代的技术条件下尽可能地让我们更接近原始状态地去阅读达芬奇（文中都是她自己的释读和翻译），而且能够以如此精美的形式呈现出来，手稿的细部都得以呈现。不像19世纪的传记者，依靠的还只能是文字。但倒底孰优孰劣也未可知，我们今天的denkraum已经大不如前了，自以为通过多方面的科学信息的整合来拼凑出更为完整的图像，其实更可能是各方面的平庸。</p>
    </div>
  </div>
    <div class="right"></div>
  </body>
</html>
